[Desktop Entry]
Name=Notes
Name[am]=ማስታወሻዎች
Name[ar]=ملاحظات
Name[ast]=Notes
Name[az]=Qeydlər
Name[bem]=Utulembo
Name[bg]=Бележки
Name[br]=Notennoù
Name[bs]=Bilješke
Name[ca]=Notes
Name[ca@valencia]=Notes
Name[cs]=Poznámky
Name[cy]=Nodiadau
Name[da]=Noter
Name[de]=Notizen
Name[el]=Σημειώσεις
Name[en_AU]=Notes
Name[en_GB]=Notes
Name[es]=Notas
Name[eu]=Oharrak
Name[fa]=یادداشت‌ها
Name[fi]=Muistiinpanot
Name[fo]=Viðmerkingar
Name[fr]=Notes
Name[fr_CA]=Notes
Name[gd]=Nòtaichean
Name[gl]=Notas
Name[he]=פתקיות
Name[hu]=Jegyzetek
Name[id]=Catatan
Name[is]=Minnispunktar
Name[it]=Note
Name[ja]=ノート
Name[km]=ចំណាំ
Name[ko]=쪽지
Name[lv]=Piezīmes
Name[ms]=Nota
Name[my]=မှတ်စုများ
Name[nb]=Notater
Name[nl]=Notities
Name[pa]=ਨੋਟ
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[ro]=Notițe
Name[ru]=Заметки
Name[sk]=Poznámky
Name[sl]=Sporočilca
Name[sq]=Shënimet
Name[sr]=Белешке
Name[st]=Dinoutu
Name[sv]=Anteckningar
Name[ta]=குறிப்புகள்
Name[tr]=Notlar
Name[ug]=ئىزاھ
Name[uk]=Нотатки
Name[zh_CN]=笔记
Name[zh_TW]=記事
Comment=Ubuntu Notes app, powered by Evernote
Comment[am]=የ ኡቡንቱ ማስታወሻ መተግበሪያ በ ሁልጊዜ ማስታወሻ
Comment[ast]=App Notes d'Ubuntu, basada n'Evernote
Comment[br]=Arload Notennoù Ubuntu, kaset en-dro gant Evernote
Comment[bs]=Aplikacija Ubuntu bilješke, pogonjena uz Evernote
Comment[de]=Ubuntu-Notizenanwendung, von Evernote bereitgestellt
Comment[el]=Εφαρμογή Σημειώσεις Ubuntu, από το Evernote
Comment[en_AU]=Ubuntu Notes app, powered by Evernote
Comment[en_GB]=Ubuntu Notes app, powered by Evernote
Comment[es]=Ubuntu Notes, con Evernote
Comment[fa]=کارهٔ یادداشت اوبونتو، قدرت‌گرفته از اورنوت
Comment[fi]=Ubuntun muistiinpanosovellus, taustavoimana Evernote
Comment[fo]=Ubuntu Notes appan, Evernoterikin
Comment[fr]=Application Notes d'Ubuntu, fonctionnant avec Evernote
Comment[fr_CA]=Appli Notes d'Ubuntu, propulsé par Evernote
Comment[gd]=Aplacaid nòtaichean Ubuntu, le cumhachd Evernote
Comment[gl]=Aplicativo de notas para Ubuntu, con tecnoloxía de Evernote
Comment[hu]=Jegyzet alkalmazás Ubuntuhoz Evernote alapokon
Comment[it]=App per le note di Ubuntu, basata su Evernote
Comment[lv]=Ubuntu piezīmju lietotne, darbina Evernote
Comment[nb]=Ubuntu notatprogram, drevet av Evernote
Comment[nl]=Ubuntu Notes-app, geleverd door Evernote
Comment[pl]=Aplikacja Ubuntu Notatki wspierająca Evernote
Comment[pt]=Ubuntu Notes app, powered by Evernote
Comment[sk]=Ubuntu aplikácia Poznámky, poháňaná Evernote
Comment[sl]=Sporočilca Ubuntu s podporo Evernote
Comment[sr]=Убунту Белешке, покреће Evernote
Comment[sv]=Ubuntu Notes, drivet av Evernote
Comment[tr]=Ubuntu Notlar uygulaması, Evernote desteğiyle
Comment[uk]=Програма для роботи з нотатками Ubuntu з підтримкою Evernote
Exec=reminders %u
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Color=#E5E3E5
